<div class="feedback-section container" id="reviews">
    <h2 class="hidden">Feedbacks our visitors</h2>
    <div class="swiper">
        <div class="swiper-button-prev">
            <svg class="left-arrow">
                <use href="/img/sprite.svg#icon-icon_left_button_feedback_sec" width="14px" height="14px"></use>
        </div>
        <div class="swiper-wrapper"></div>
        <div class="swiper-button-next">
            <svg class="rigth-arrow">
                <use href="/img/sprite.svg#icon-icon_rigth_button_feedback_sec" width="14px" height="14px"></use>
        </div>
        <div class="swiper-pagination">
            <span class="dots" id="first"></span>
            <span class="dots" id="second"></span>
            <span class="dots" id="third"></span>
        </div>
    </div>
    <button class="review-btn feedback-btn">Leave feedback</button>
</div>
<div class="overlay hidden">
    <div class="modal ">
        <svg class="close-icon" width="14px" height="14px">
            <use href="/img/sprite.svg#icon-icon_close"></use>
        </svg>
        <form id="feedback-form">
            <h3 class="title-modal">Submit feedback</h3>
            <div class="form-name">
                <label>Name</label>
                <input class="form-input-name" type="text" placeholder="Emily" required />
            </div>
            <div class="form-message">
                <label>Message</label>
                <textarea class="form-input-message" type="text" placeholder="Type your message..." required></textarea>
            </div>
            <div id="customer-rating" class="rating my-rating" data-rating="1">
            </div>
            <div class="send-btn-cont">
                <button class="review-btn send-feedback-btn" type="submit">Submit</button>
            </div>
        </form>
    </div>