<div class="modal-overlay-artists">
  <div class="modal">
    <button class="close-btn" data-modal-close>
      <svg class="close-icon" width="32" height="32">
        <use href="/img/sprite.svg#icon-icon_close"></use>
      </svg>
    </button>
    <h5 class="modal-info-title"></h5>
    <div class="modal-info">
      <div class="modal-info-card"></div>
    </div>
    <div class="section-albums">
      <h4 class="modal-albums-title">Albums</h4>
      <div class="modal-albums"></div>
    </div>
  </div>
</div>
<span class="modal-loader"></span>
