main {
  background-color: #000;
}

.header-1 {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.header-2 {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.header-section-artists {
  margin-top: 112px;
  width: 500px;
}

/* Контейнер для всіх карток */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  background-color: #000;
  /* чорний фон секції */
  padding: 40px 0;
}

/* Картка */
.card {
  width: 640px;
  height: 593px;
  border-radius: 12px;
  background-color: #000;
  /* темний фон */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #fff;
  /* текст світлий */
}

/* Блок зображення */
.card__media img {
  width: 640px;
  height: 393px;
  border-radius: 12px;
  object-fit: cover;
  display: block;
}

/* Тіло картки */
.card__body {
  padding-top: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Теги */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 12px;
}

.tag {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 4px 10px;

}

/* Назва артиста */
.card__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

/* Текст */
.card__text {
  font-size: 15px;
  color: #aaa;
  /* світло-сірий текст */
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Футер */
.card__footer {
  margin-top: auto;
}

.card__link {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.card__link:hover {
  text-decoration: underline;
}

.load-more {
  display: block;
  width: 170px;
  height: 47px;
  margin: 0 auto;
  background-color: #764191;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;

  padding: 10px 24px;

}

.icon {
  width: 14px;
  height: 14px;
  fill: #fff;
  padding-left: 12px;
  vertical-align: middle;
}